Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [1]:
NAME = "Caleb Andree"
COLLABORATORS = ""

---

# Programming Assignment 1: How may 311 calls? [Total: 7 points]

**Research Question:** How many and what types of 311 calls were made in DC during 2014?

**Technical Skills:** Practice data cleaning and validation skills, such as fixing names and inspecting missing values.

**Description:** In the spirit of transparency, DC government provides information about its services and functions through its open data portal. One of the types of data that it provides is a list of all requests the city receives from the community (included with this notebook, file name `311_City_Service_Requests_in_2014.csv`).

These requests are wide ranging from potholes, to utility outages, to Christmas tree removal, to illegal dumping reports. DC is divided into 8 geographic units called wards. In this assignment you will be using pandas to explore the data set and to fix entries for the variables `WARD` and `SERVICECODEDESCRIPTION`. 

# What to submit

You will work in this notebook, which includes questions that require you to either write code, describe your work in a markdown cell, or both.

## Table of Contents
<ul>
    <li><a href="#Submission-checklist">Submission checklist</a> [1 point]</li>
    <li><a href="#Q1">Question 1</a> [2 points]</li>
    <li><a href="#Q2">Question 2</a> [1 point]</li>
    <li><a href="#Q3">Question 3</a> [1 point]</li>
    <li><a href="#Q4">Question 4</a> [1 point]</li>
    <li><a href="#Q5">Question 5</a> [1 point]</li>
    <li><a href="#Q6">Question 6</a> [1 point]</li>
    <li><a href="#Q7">Question 7</a> [1 point]</li>
</ul>

## Submission checklist

**Points**: 1

Before submitting make sure that:

1. Your name is included above, plus the name of any collaborator you had;
2. All Markdown cells you edited are rendering correctly, especially the ones with checklists.

## Q1

**Points:** 2

**Question:** Using pandas, load the data frame and inspect the `WARD` column. What is the `dtype` value assigned to the column, and why? In particular, do you notice anything about the different values in this column that could have caused that particular `dtype` value to be selected? Using indexing/subsetting, display a few examples of rows that you think caused pandas to select that particular `dtype` for the `WARD` column. 

1. Include the code you wrote in the cell below where it says `YOUR CODE HERE`. Feel free to create multiple code/markdowns cells to document all the steps of your investigation.
2. Then jump to the cell *under* `YOUR ANSWER IN CELL BELOW` and answer the above question(s) in that cell.
---
This question is worth 2 points:
- 1 point for including the necessary pandas/Python code and documentation to back up your answer;
- 1 point for providing the correct answer.

<div class="alert alert-warning">
Note that you are more than welcome to inspect the data using Excel, however to earn credit for your answer you will need to include code/markdown cells that would reasonably lead someone running your notebook to reach your conclusion. Answers that merely state the conclusion without any code/markdown cells will be penalized for failing to provide the necessary documentation.
</div>

In [2]:
# YOUR CODE HERE (add extra code/markdown cells if needed)
import pandas as pd

df = pd.read_csv('311_City_Service_Requests_in_2014.csv')

In [3]:
df["WARD"].unique()

array(['Ward 1', 'Ward 4', 'Ward 7', 'Ward 6', '1', 'Ward 8', 'Ward 2',
       '2', '3', 'Ward 5', '6', '7', 'Ward 3', '4', '5', '8', '3.0',
       '2.0', '4.0', '5.0', '8.0', '7.0', '6.0', '1.0', nan], dtype=object)

In [4]:
df.head()

,WARD,ADDDATE,SERVICECODEDESCRIPTION,DETAILS
0,Ward 1,2014/01/01 18:29:52+00,Illegal Dumping,"Illegal Dumping\n780 Girard St., NW, Washingto..."
1,Ward 4,2014/01/01 18:12:04+00,Streetlight Repair Investigation,streetlight has been out for 3 days in front o...
2,Ward 7,2014/01/01 18:56:57+00,Streetlight Repair Investigation,streetlight has been out for 2 days
3,Ward 1,2014/01/01 21:19:18+00,Bulk Collection,NaN
4,Ward 6,2014/01/01 21:23:19+00,Sign Missing Investigation,"The ""Road Closed"" sign for the old entrance to..."

In [5]:
df.dtypes

WARD                      object
ADDDATE                   object
SERVICECODEDESCRIPTION    object
DETAILS                   object
dtype: object

See if any of the rows in the "WARD" column are NaN, so that we can see why this datatype was given

In [6]:
df['WARD'].isnull().sum()

4

Display the rows in that column that have the NaN value

In [7]:
df[df['WARD'].isna()]

,WARD,ADDDATE,SERVICECODEDESCRIPTION,DETAILS
133403,NaN,2014/08/04 10:34:13+00,Alley Cleaning,This request was made previously (#14-00210589...
182202,NaN,2014/10/20 12:41:22+00,Tree Inspection,"See tree on S Street, NW at 11th, sw corner fo..."
192384,NaN,2014/10/28 18:43:09+00,Dead Animal Pickup,NaN
194561,NaN,2014/11/28 21:06:18+00,Parking Meter Repair,not printing

‚¨áÔ∏è‚¨áÔ∏è‚¨áÔ∏è YOUR ANSWER IN CELL BELOW ‚¨áÔ∏è‚¨áÔ∏è‚¨áÔ∏è (_Note: this is a read-only cell. Enter your answer in the cell __below__!_)

The column "WARD" is an object, and this could be for many reasons, but this is because there are multiple datatypes in this column, for example "Ward 1" is a string while "1.0" is a float.

## Q2

**Points:** 1

**Question:** Write a function called `clean_ward` that convert `WARD` to a numerical column. Your function should take a single parameter -- the data frame -- and should return a new data frame with the same columns but with the `WARD` column converted to `float`. 

**Hint**: To convert a column to numeric you can either use the `.astype()` method of the `Series` object associated to the colum, or the `pd.to_numeric()` function. Refer to Pandas documentation for more information on how to use them.

In [8]:
# YOUR CODE HERE
def clean_ward(df):
    df['WARD'] = df['WARD'].str.extract('(\d+)').astype(float)
 
    return df

#raise NotImplementedError()

In [9]:
import pandas as pd
from pandas.api.types import is_numeric_dtype
from numpy.testing import assert_array_equal

q2df = pd.read_csv('./311_City_Service_Requests_in_2014.csv')
q2df = clean_ward(q2df)

# 1) Test that the WARD column has the correct dtype
assert is_numeric_dtype(q2df['WARD'].dtype), "Error: the WARD column is not a numeric dtype."

# 2) Test that the WARD column has the correct values
q2CORRECT_ANS = pd.read_csv('./.autograder1.csv')['WARD']
q2STUDENT_ANS = q2df['WARD']
assert_array_equal(q2STUDENT_ANS, q2CORRECT_ANS, "Error: the value of the WARD column is not correct.", verbose=False)

# If no test failed, print message
print("All tests passed correctly! üëç")

All tests passed correctly! üëç

## Q3

**Points:** 1

**Question**: How many missing values are there in the `WARD` column? Write a function called `missing_ward` that takes as a parameter the cleaned data frame and returns the number of missing values. 

Note that this question is independent of the previous questions and you may attempt it even if you did not get the other functions right.

In [10]:
# YOUR CODE HERE
def missing_ward(df):
    return df['WARD'].isna().sum()
#raise NotImplementedError()

In [11]:
import pandas as pd
from pandas.api.types import is_numeric_dtype

q3CORRECT_ANS = 4
q3df = pd.read_csv('./311_City_Service_Requests_in_2014.csv')
q3STUDENT_ANS = missing_ward(q3df) 
assert q3STUDENT_ANS == q3CORRECT_ANS, f"Error: wrong answer! Expecting: {q3CORRECT_ANS}. Your answer: {q3STUDENT_ANS}."
print("All tests passed correctly! üëç")

All tests passed correctly! üëç

## Q4

**Points:** 1

**Question:** How many requests (on average) were there per WARD? Which Ward has the most requests? Which has the least requests? Write a function called `ward_stats` that takes as parameter the cleaned data frame and returns a dictionary with three entries:
- `avg_reqs` &ndash; the average number of requests per ward, rounded to two decimal digits;
- `ward_most` &ndash; the ward with most requests;
- `ward_least` &ndash; the ward with least requests.

Ignore entries where WARD is missing. 

Note that this question is independent of the previous questions and you may attempt it even if you did not get the other functions right.

In [12]:
# YOUR CODE HERE
def ward_stats(df):
    #cleaned_df = df.dropna(subset=['WARD'])

    
    # Group by 'WARD' and count the number of requests in each ward
    ward_counts = df.groupby('WARD').size()
    
    # Calculate the average number of requests per ward
    avg_reqs = ward_counts.mean()
    
    # Find the ward with the most requests
    ward_most = ward_counts.idxmax()
    
    # Find the ward with the least requests
    ward_least = ward_counts.idxmin()
    
    # Round the average number of requests to two decimal places
    avg_reqs = round(avg_reqs, 2)
    
    # Create a dictionary with the results
    ward_stats_dict = {
        'avg_reqs': avg_reqs,
        'ward_most': ward_most,
        'ward_least': ward_least
    }
    
    return ward_stats_dict
 
    
#raise NotImplementedError()

In [13]:
import pandas as pd

q4df = pd.read_csv('./.autograder1.csv')
q4CORRECT_ANS = {'avg_reqs': 40371.75, 'ward_most': 0, 'ward_least': 7}
q4STUDENT_ANS = ward_stats(q4df)
assert q4STUDENT_ANS == q4CORRECT_ANS, f"Error: wrong answer! Expecting: {q4CORRECT_ANS}. Your answer: {q4STUDENT_ANS}."
print("All tests passed correctly! üëç")

AssertionError: Error: wrong answer! Expecting: {'avg_reqs': 40371.75, 'ward_most': 0, 'ward_least': 7}. Your answer: {'avg_reqs': 40371.75, 'ward_most': 2.0, 'ward_least': 8.0}.

## Q5

**Points:** 1

**Question:** Inspect the `SERVICECODEDESCRIPTION` column. There are five (5) issues / inconsistencies in it. For example, the entry 

    "Graffiti Removal - Customer Follow-up" 
    
and the entry 

    "Graffiti Removal-Customer Follow-up" 
    
Describe the same service event with slightly different formatting. List all the issues, the associated service codes, and provide a brief description of how to fix them.

In [14]:
import pandas as pd

df = pd.read_csv('311_City_Service_Requests_in_2014.csv')

df.head()

,WARD,ADDDATE,SERVICECODEDESCRIPTION,DETAILS
0,Ward 1,2014/01/01 18:29:52+00,Illegal Dumping,"Illegal Dumping\n780 Girard St., NW, Washingto..."
1,Ward 4,2014/01/01 18:12:04+00,Streetlight Repair Investigation,streetlight has been out for 3 days in front o...
2,Ward 7,2014/01/01 18:56:57+00,Streetlight Repair Investigation,streetlight has been out for 2 days
3,Ward 1,2014/01/01 21:19:18+00,Bulk Collection,NaN
4,Ward 6,2014/01/01 21:23:19+00,Sign Missing Investigation,"The ""Road Closed"" sign for the old entrance to..."

Extract all of the unique values in the column and sort them alphabetically

In [ ]:
df['SERVICECODEDESCRIPTION'].nunique()

In [ ]:
df['SERVICECODEDESCRIPTION'].value_counts().head()

In [ ]:
service_code = df['SERVICECODEDESCRIPTION'].unique()
service_code.sort()
service_code

Issue 1: 
'recycling collection - missed - customer follow-up',
'recycling collection - missed',
'recycling collection - missed-customer follow up',
Reformat the following strings so that it just says 'recycling collection - missed'

Issue 2: 
'recycling container delivery - customer follow up',
'recycling container delivery - customer follow-up',
Reformat the strings so that it says 'recycling container delivery - customer follow-up'

Issue 3: 
'supercan - repair - customer follow-up',
'supercan - repair',
Change these service codes so the customer follow up code does not contain "repair"

Issue 4: 
'trash collection - missed customer follow-up',
'trash collection - missed',
'trash collection- missed customer follow up',
'trash container - delivery - customer follow-up',
'trash container-delivery-customer follow up',

There are many different formats for trash collection and trash container. I would change the following service codes to 3 distinguishable codes: 
'trash collection - customer follow-up',
'trash collection - missed',
'trash container - customer follow-up',

       
Issue 5: 
'yard waste - missed - customer follow-up',
'yard waste- missed'

Remove the 'missed' from the customer follow up service code, since there is already a service code for that particular complaint.

## Q6

**Points:** 1

**Question:** Write a function called `clean_servicecode` that takes a dataframe as parameter and returns a dataframe with the `SERVICECODEDESCRIPTION` column cleaned.

Note that this question is independent of the previous questions and you may attempt it even if you did not get the other functions right.

In [15]:
# YOUR CODE HERE
def clean_servicecode(df):
    
    df['SERVICECODEDESCRIPTION'] = df['SERVICECODEDESCRIPTION'].replace('Graffiti Removal-Customer Follow-up',
       'Graffiti Removal - Customer Follow-up')
    df['SERVICECODEDESCRIPTION'] = df['SERVICECODEDESCRIPTION'].replace('Streetlight Repair - Customer follow-up',
       'Streetlight Repair - Customer Follow-up')
    
    #Issue 1
    df['SERVICECODEDESCRIPTION'] = df['SERVICECODEDESCRIPTION'].replace('Recycling Collection - Missed - Customer Follow-up',
       'Recycling Collection - Customer Follow-up')
    df['SERVICECODEDESCRIPTION'] = df['SERVICECODEDESCRIPTION'].replace('Recycling Collection - Missed-Customer Follow Up',
       'Recycling Collection - Customer Follow-up')
    
    
    #Issue 2
    df['SERVICECODEDESCRIPTION'] = df['SERVICECODEDESCRIPTION'].replace('Recycling Container Delivery - Customer Follow up',
       'Recycling Container Delivery - Customer Follow-up')
    
    #Issue 3
    df['SERVICECODEDESCRIPTION'] = df['SERVICECODEDESCRIPTION'].replace('Supercan - Repair - Customer Follow-up', 
        'Supercan - Customer Follow-up')
    
    #Issue 4
    df['SERVICECODEDESCRIPTION'] = df['SERVICECODEDESCRIPTION'].replace( 'Trash Collection - Missed Customer Follow-up', 
        'Trash Collection - Customer Follow-up')
    df['SERVICECODEDESCRIPTION'] = df['SERVICECODEDESCRIPTION'].replace( 'Trash Collection- Missed Customer Follow up', 
        'Trash Collection - Customer Follow-up')
    
    df['SERVICECODEDESCRIPTION'] = df['SERVICECODEDESCRIPTION'].replace('Trash Container-Delivery-Customer Follow up', 
        'Trash Container - Customer Follow-up')
    df['SERVICECODEDESCRIPTION'] = df['SERVICECODEDESCRIPTION'].replace('Trash Container - Delivery - Customer Follow-up', 
        'Trash Container - Customer Follow-up')
    
    #Issue 5
    df['SERVICECODEDESCRIPTION'] = df['SERVICECODEDESCRIPTION'].replace('Yard Waste - Missed - Customer Follow-up', 
        'Yard Waste - Customer Follow-up')
    df['SERVICECODEDESCRIPTION'] = df['SERVICECODEDESCRIPTION'].replace('Sanitation Enforcement-Customer Follow up', 
        'Sanitation Enforcement - Customer Follow-up')
    return df
    
#raise NotImplementedError()

In [16]:
import pandas as pd
from numpy.testing import assert_array_equal

q6df = pd.read_csv('./311_City_Service_Requests_in_2014.csv')

q6CORRECT_ANS = pd.read_csv('.autograder2.csv')['SERVICECODEDESCRIPTION']
q6STUDENT_ANS = clean_servicecode(q6df)['SERVICECODEDESCRIPTION']

assert_array_equal(q6STUDENT_ANS, q6CORRECT_ANS, "Error: the value of the SERVICECODEDESCRIPTION column is not correct.", verbose=False)

# If no test failed, print message
print("All tests passed correctly! üëç")

All tests passed correctly! üëç

## Q7

**Points:** 1

**Question:** What are the top 5 most common types of 311 requests (based on `SERVICECODEDESCRIPTION`)? Write a function called `most_common_reqs` that takes as parameter a cleaned data frame and returns a dictionary with the top 5 most common requests. Each entry in the dictionary should consist of the `SERVICECODEDESCRIPTION` value (the key) and the associated number of requests (the value).

Note that this question is independent of the previous questions and you may attempt it even if you did not get the other functions right.

In [17]:
# YOUR CODE HERE
def most_common_reqs(df):
    req_counts = df['SERVICECODEDESCRIPTION'].value_counts()
    top_5_reqs = req_counts.head(5)

    # Convert the top 5 requests and their counts into a dictionary
    top_5_reqs_dict = top_5_reqs.to_dict()

    return top_5_reqs_dict
    
#raise NotImplementedError()

In [18]:
import pandas as pd

q7df = pd.read_csv('.autograder2.csv')
q7STUDENT_ANS = most_common_reqs(q7df)
q7CORRECT_ANS = {
    'Parking Meter Repair': 92571,
    'Bulk Collection': 43097,
    'Parking Enforcement': 26714,
    'CONTAINER REMOVAL': 24634,
    'Pothole': 11348
}

assert q7STUDENT_ANS == q7CORRECT_ANS, f"Error: wrong answer! Expecting: {q7CORRECT_ANS}. Your answer: {q7STUDENT_ANS}."
print("All tests passed correctly! üëç")

All tests passed correctly! üëç